@import "variables";
@import "mixins";

.card {
  display: grid;
  grid-template-rows: 170px 162px 40px;
  justify-content: center;
  height: 403px;
  width: #{$cardWidth}px;
  padding: 14px;
  box-sizing: border-box;

  line-height: 14px;

  background: #fff;
  border: 1px solid $borderColor;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }

  &__img {
    text-align: center;
    align-self: center;
  }

  &__img-link {
    display: block;
    height: 100%;
  }

  &__product-photo {
    width: 100%;
    padding: 13px 2px;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-radius: 5px;
    transition: transform 1s;

    &:hover {
      border: 3px solid $borderColor;
      transform: scale(1.18);
    }
  }

  &__title {
    margin-top: 25px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  &__title-link {
    text-decoration: none;
    @include linkTransform;

    &:hover {
      color: $activeColor;
    }
  }

  &__sku {
    margin-top: 5px;
  }

  &__customer-rating {
    display: grid;
    grid-template-columns: 91px auto;
    margin-top: 15px;
  }

  &__reviews {
    line-height: 15px;
    text-align: right;
    text-decoration: none;
    @include linkTransform;

    &:hover {
      color: $activeColor;
    }
  }

  &__price {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 19px;
  }

  &__price-title {
    justify-self: left;
    align-self: end;
  }

  &__price-value {
    justify-self: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}
